@import "../../index.scss";

.preview {
  background: $foreground-light;
  color: $background-light;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.preview-area {
  width: 26rem;
  height: 26rem;
  max-width: 70vw;
  max-height: 70vw;
  background-color: white;
  background-image: linear-gradient(45deg, #eee 25%, transparent 25%),
    linear-gradient(-45deg, #eee 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #eee 75%),
    linear-gradient(-45deg, transparent 75%, #eee 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-area img {
    flex-grow: 0;
  object-fit: contain;
  object-position: center;
  max-width: 100%;
  max-height: 100%;
}
