$background-light: #faf8f9;
$foreground-light: #212733;
$link-hover-light: #355fc5;

$code-font-color: #b3b9c5;
$code-background-color: #353535;
$code-string: #92d192;
$code-variable: #f2777a;
$code-property: #abb2bf;
$code-number: #fca369;
$code-operator: #ac8d58;
$code-punctuation: #d5d8df;
$code-comment: #848991;
$code-function: #62cfcf;
$code-keyword: #ffd479;
$code-attribute: #ffd479;
$code-class: #e1a6f2;
$code-tag: #6ab0f3;
$code-error: #f2777a;

@font-face {
  font-family: 'yyx';
  src: url('../public/fonts/regular.eot');
  src: url('../public/fonts/regular.woff') format('woff'), url('../public/fonts/regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'yyx';
  src: url('../public/fonts/semibold.eot');
  src: url('../public/fonts/semibold.woff') format('woff'), url('../public/fonts/semibold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'yyx-mono';
  src: url('../public/fonts/mono-regular.woff') format('woff'), url('../public/fonts/mono-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'yyx-mono';
  src: url('../public/fonts/mono-italic.woff') format('woff'), url('../public/fonts/mono-italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'yyx-mono';
  src: url('../public/fonts/mono-bold.woff') format('woff'), url('../public/fonts/mono-bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html, body, p, h3 {
  margin: 0;
  padding: 0;
  line-height: 1.8;
  font-size: 18px;
  color: $foreground-light;

  @media (max-width: 640px) {
    font-size: 16px;
  }
}

html {
  -webkit-text-size-adjust: none;
  touch-action: manipulation;

  background-color: #ffffff;
}

html, body, input, textarea, select, button {
  font-family: "yyx", "Graphik",
  -apple-system, BlinkMacSystemFont,
  "Segoe UI", Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: inherit;
  text-decoration: none !important;
}

p {
  margin-top: 24px;
}

main ::selection {
  background-color: $link-hover-light;
  color: $background-light;
}

h2 {
  font-size: 48px;
  line-height: 1.3;
  padding-right: 20px;
  margin-bottom: 0;

  @media (max-width: 640px) {
    font-size: 32px;
    margin-bottom: -20px;
    padding-right: 0;
  }
}

h3 {
  font-size: 32px;
  line-height: 1.3;
  margin-bottom: 0;

  @media (max-width: 640px) {
    font-size: 28px;
  }
}

h4 {
  font-size: 24px;
  margin-bottom: -10px;
  margin-top: 48px;
}

.homepage-links h3,
.posts h3 {
  user-select: none;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  opacity: 0.4;
  margin-bottom: 12px;

  @media (max-width: 640px) {
    margin-bottom: 4px;
  }

  a {
    margin: 0;
    padding: 0;
    line-height: 1;
  }
}

header {
  padding: 24px;
  user-select: none;

  .logo {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 24px;
    left: 24px;
    height: 28px;
    line-height: 28px;
    z-index: 100;

    a {
      height: 28px;
      color: $foreground-light;
      outline: 0;
      transition: color 0.3s linear;

      &:hover {
        color: $link-hover-light;
      }
    }

    @media (max-width: 640px) {
      position: absolute;
    }
  }
}

main {
  padding: 32px 32px 64px;
  margin: 0 auto;
  position: relative;
  max-width: 560px;

  &.homepage {
    max-width: 840px;
    display: flex;

    @media (max-width: 640px) {
      display: block;
      padding-top: 56px;
    }
  }

  &.homepage-links {
    @media(max-width: 640px) {
      padding-top: 0;
    }
  }

  @media (max-width: 640px) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media (max-width: 320px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.hero {
  background-color: #f4f4f5;
  padding: 96px 0;

  main {
    padding-top: 0;
    padding-bottom: 0;
  }

  h2 {
    margin-top: 0;
  }

  @media(max-width: 640px) {
    padding: 48px 0 36px;

    .avatar {
      margin-bottom: 32px;
    }
  }
}

.markdown-editor {
  textarea {
    border: 0;
    padding: 0;
    display: block;
    width: 100%;
    margin: 0;
    -webkit-appearance: none;
    line-height: 1.8;
    font-size: 18px;
    color: $foreground-light;
    resize: none;
    min-height: 60vh;
    outline: 0;
  }
}

@media (max-width: 440px) {
  .hide-phone {
    display: none;
  }
}


.box-area {
  background: $foreground-light;
  color: $background-light;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 24px;

  svg {
    margin-bottom: 32px;
    user-select: none;
  }

  &.active {
    background: $link-hover-light;
  }

  &.success {
    background: #27ae60;

    ::selection {
      background: rgba(0, 0, 0, 0.2);
    }
  }

  &.failed {
    background: #eb4d4b;
  }
}

.box-result {
  display: flex;
  align-items: center;
}

.box-copy {
  opacity: 0.5;
  margin-left: 12px;
  cursor: pointer;
  margin-bottom: 2px !important;
  transition: opacity 0.2s ease-in-out;
}

.box-copy:hover {
  opacity: 1;
}

.promo-callout {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  background: #fff;
  z-index: 1000;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  font-size: 0.85rem;
  line-height: 1.6;
  width: 14rem;

  @media (max-width: 580px) {
    width: auto;
    right: 2rem;
  }

  &__close {
    float: right;
    appearance: none;
    border: 0;
    background: transparent;
    font-size: 1rem;
    margin-top: -0.8rem;
    margin-right: -0.8rem;
    cursor: pointer;
  }

  &__label {
    background: $link-hover-light;
    display: inline-block;
    line-height: 1;
    font-size: 0.7rem;
    padding: 0.3rem 0.4rem 0.2rem;
    margin-bottom: 0.6rem;
    font-weight: bold;
    color: #fff;
  }

  a {
    color: $link-hover-light;
  }
}
